@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*::after,
*::before,
* {
  box-sizing: border-box;
}
body {
  color: whitesmoke;
  display: flex;
  background-color: #001535;
  align-items: center;
  justify-content: center;
  border: 6px solid yellow;
  font-family: "Permanent Marker", sans-serif;
}

button {
  padding: 8px;
  background-color: yellow;
  font-size: 30px;
  border-radius: 20px;
  /* margin: 20px auto; */
  text-align: center;
  /* font-weight: 500; */
  padding: 20px 30px;
  font-family: inherit;
}

.board {
  display: grid;
  /* border: 2px solid black; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  margin: 20px auto;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: #283c4f;
  padding: 0 60px;
}

h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-align: center;
  border-bottom: 2px dashed white;
}

.cell {
  border-right: 5px solid #0d6ead;
  border-bottom: 5px solid #0d6ead;
  font-size: 90px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.cell:nth-child(3) {
  border-right: none;
}
.cell:nth-child(6) {
  border-right: none;
}
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(7) {
  border-bottom: none;
}

.cell:nth-child(8) {
  border-bottom: none;
}

.cell:nth-child(9) {
  border-bottom: none;
}

#statusText {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.notification-bar {
  display: flex;
  /* border: 1px solid green; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

@media screen and (max-width: 400px) {
  .board {
    display: grid;
    /* border: 2px solid black; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 200px;
    height: 200px;
    margin: 10px auto;
  }

  .cell {
    font-size: 30px;
  }


  button{
    font-size: 20px;
    padding: 10px;
  }
  #statusText{
    font-size: 20px;

  }
  
}

